<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="th.ac.bu.science.mit.allappstatscollector">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>

        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="intent.my.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".StartOnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".RestartServiceReceiver">
            <intent-filter>
                <action android:name="YouWillNeverKillMe" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BackgroundIntentService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver android:name=".WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.TermsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.DashBoardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.InitScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AppListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AppInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SettingsScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>